<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      
      
       {{ content }}
      
<table id="toBeSorted">
<thead>
<tr>
<th onclick="sortViaColumn(0)" style="cursor: pointer">Corpus_Name</th>
<th onclick="sortViaColumn(1)" style="cursor: pointer">Link/Paper</th>
<th onclick="sortViaColumn(2)" style="cursor: pointer">Population</th>
<th onclick="sortViaColumn(3)" style="cursor: pointer">Language</th>
<th onclick="sortViaColumn(4)" style="cursor: pointer">Task</th>
<th onclick="sortViaColumn(5)" style="cursor: pointer">Modality</th>
<th onclick="sortViaColumn(6)" style="cursor: pointer">prompts</th>
<th onclick="sortViaColumn(7)" style="cursor: pointer">answers</th>
<th onclick="sortViaColumn(7)" style="cursor: pointer">labels</th>
</tr>
</thead>
<tbody>
    <tr>
      <td class="cell-corpus-name">ASAP-AES</td>
      <td class="cell-linkpaper"><a href="https://www.kaggle.com/c/asap-aes">Dataset</a></td>
      <td class="cell-population">high school students (grade 7 to 10)</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Essay</td>
      <td class="cell-modality">?</td>
      <td class="cell-prompts">10</td>
      <td class="cell-answers">33320</td>
      <td class="cell-scores">varies per prompt</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">ASAP-SAS</td>
      <td class="cell-linkpaper"><a href="https://www.kaggle.com/c/asap-sas">Dataset</a></td>
      <td class="cell-population">high school students (mainly grade 10)</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Short-answers (SLA, biology, sciences)</td>
      <td class="cell-modality">?</td>
      <td class="cell-prompts">10</td>
      <td class="cell-answers"></td>
      <td class="cell-scores">0-2/0-3</td>
    </tr>
	<tr>
      <td class="cell-corpus-name">ASAP-DE</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/W18-0550/">Paper</a></td>
      <td class="cell-population">crowdworkers (unclear)</td>
      <td class="cell-language">German</td>
      <td class="cell-task">Short-answers (SLA, biology, sciences)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">3</td>
      <td class="cell-answers">903</td>
      <td class="cell-scores">0-2/0-3</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">Powergrading</td>
      <td class="cell-linkpaper"><a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2013/10/powergrading_TACL_Basu_Jacobs_Vanderwende.pdf">Paper</a></td>
      <td class="cell-population">unclear</td>
      <td class="cell-language">English</td>
      <td class="cell-task">short-answers (US immigration test)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">10</td>
      <td class="cell-answers">6980</td>
      <td class="cell-scores">binary</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">SRA beetle</td>
      <td class="cell-linkpaper"><a href="https://apps.dtic.mil/sti/pdfs/ADA587601.pdf">Paper</a> <a href="https://www.aclweb.org/anthology/P10-4003.pdf">Paper</a></td>
      <td class="cell-population">students (native)</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Short-answers (sciences)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">56</td>
      <td class="cell-answers">3000</td>
      <td class="cell-scores">2/3/5-way entailment labels</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">SRA SciEntsBank</td>
      <td class="cell-linkpaper"><a href="https://apps.dtic.mil/sti/pdfs/ADA587601.pdf">Paper</a> <a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.165.9322&rep=rep1&type=pdf">Paper</a></td>
      <td class="cell-population">students (native)</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Short-answers (sciences)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">197</td>
      <td class="cell-answers">10000</td>
      <td class="cell-scores">2/3/5-way entailment labels</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">AR-ASAG</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/2020.lrec-1.321.pdf">Paper</a> <a href="https://data.mendeley.com/datasets/dj95jh332j/1">Dataset</a></td>
      <td class="cell-population">university students (native?)</td>
      <td class="cell-language">Arabic</td>
      <td class="cell-task">Short-answers (cybercrime)</td>
      <td class="cell-modality">?</td>
      <td class="cell-prompts">48</td>
      <td class="cell-answers">2133</td>
      <td class="cell-scores">0-5 points</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">PT-SAG</td>
      <td class="cell-linkpaper"><a href="https://www.br-ie.org/pub/index.php/sbie/article/view/8097/5788">Paper</a></td>
      <td class="cell-population">school students (12-14 years)</td>
      <td class="cell-language">Portuguese</td>
      <td class="cell-task">Short-answers (biology)</td>
      <td class="cell-modality">typewritten, some handwritten</td>
      <td class="cell-prompts">15</td>
      <td class="cell-answers">3675</td>
      <td class="cell-scores">0-3 points</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">CSSAG</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/W15-1905.pdf">Paper</a></td>
      <td class="cell-population">university students (mostly native)</td>
      <td class="cell-language">German</td>
      <td class="cell-task">short answers (computer science)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">31</td>
      <td class="cell-answers">1926</td>
      <td class="cell-scores">mostly 0-1 or 0-2 in 0.5 steps</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">CS (Mohler)</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/E09-1065.pdf">Paper</a></td>
      <td class="cell-population">CS studentsin the US</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Short-answers (computer science)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">21</td>
      <td class="cell-answers">630</td>
      <td class="cell-scores">0-5 points (0.5 point steps)</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">CREG</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/W11-2401.pdf">Paper</a></td>
      <td class="cell-population">language learners</td>
      <td class="cell-language">Geman</td>
      <td class="cell-task">Short-answers (Reading comprehension)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">177</td>
      <td class="cell-answers">1032</td>
      <td class="cell-scores">binary +5 diagnostic labels</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">CREE</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/W08-0913.pdf">Paper</a></td>
      <td class="cell-population">language learners</td>
      <td class="cell-language">English</td>
      <td class="cell-task">Short-answers (Reading comprehension)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">62</td>
      <td class="cell-answers">566</td>
      <td class="cell-scores">binary + 6 diagnostic labels</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">Indonesian SAS/Ukara</td>
      <td class="cell-linkpaper"><a href="https://simpan.ugm.ac.id/s/sRHfHYpSqeu9tDs">Dataset</a> <a href="https://www.aclweb.org/anthology/2020.sustainlp-1.1/">Paper</a></td>
      <td class="cell-population">native?</td>
      <td class="cell-language">Indonesian</td>
      <td class="cell-task">Short-answers (opinion questions)</td>
      <td class="cell-modality">unknown</td>
      <td class="cell-prompts">2</td>
      <td class="cell-answers">1032</td>
      <td class="cell-scores">binary</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">SweLL</td>
      <td class="cell-linkpaper"><a href="https://www.diva-portal.org/smash/get/diva2:1468966/FULLTEXT01.pdf">Paper</a></td>
      <td class="cell-population">language learners</td>
      <td class="cell-language">Swedish</td>
      <td class="cell-task">Essay</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">unknown</td>
      <td class="cell-answers">growing</td>
      <td class="cell-scores">CEFR levels</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">Falko</td>
      <td class="cell-linkpaper"><a href="https://www.linguistik.hu-berlin.de/de/institut/professuren/korpuslinguistik/forschung/falko">Homepage</a></td>
      <td class="cell-population">language learners (+ native controll group)</td>
      <td class="cell-language">German</td>
      <td class="cell-task">Essay (argumentative)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">4</td>
      <td class="cell-answers">248 (+95 from natives)</td>
      <td class="cell-scores">B2/C1/C2</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">COPLE-2</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/L16-1511.pdf">Paper</a></td>
      <td class="cell-population">language learners</td>
      <td class="cell-language">Portuguese</td>
      <td class="cell-task">Essay (various genres)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">multiple</td>
      <td class="cell-answers">966</td>
      <td class="cell-scores">A1/A2/B1/B2/C1</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">CESA</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/2020.aacl-main.37.pdf">Paper</a></td>
      <td class="cell-population">university students</td>
      <td class="cell-language">Chinese</td>
      <td class="cell-task">Short-Answer (physics & computer science)</td>
      <td class="cell-modality">typewritten</td>
      <td class="cell-prompts">5</td>
      <td class="cell-answers">1800</td>
      <td class="cell-scores">0-2 points</td>
    </tr>
    <tr>
      <td class="cell-corpus-name">ASAP-ZH</td>
      <td class="cell-linkpaper"><a href="https://www.aclweb.org/anthology/2020.aacl-main.37.pdf">Paper</a></td>
      <td class="cell-population">high school students </td>
      <td class="cell-language">Chinese</td>
      <td class="cell-task">Short-Answer (sciences)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">3</td>
      <td class="cell-answers">942</td>
      <td class="cell-scores">0-2/0-3</td>
    </tr>
    <tr class="last-row">
      <td class="cell-corpus-name">MindReading</td>
      <td class="cell-linkpaper"><a href="https://arxiv.org/pdf/2011.08035.pdf">Paper</a></td>
      <td class="cell-population">school children ge 7 to 14</td>
      <td class="cell-language">English</td>
      <td class="cell-task">short-answers (explain behaviour)</td>
      <td class="cell-modality">handwritten</td>
      <td class="cell-prompts">10</td>
      <td class="cell-answers">11311</td>
      <td class="cell-scores">0-2 points</td>
    </tr>

<!--tr>
<td>ASAP-DE</td>
<td></td>
<td></td>
<td>German</td>
<td>Short-answers (SLA, biology, sciences)</td>
<td></td>
<td style="text-align:right">3</td>
<td style="text-align:right">903</td>
</tr>
<tr>
<td>Powergrading</td>
<td><a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2013/10/powergrading_TACL_Basu_Jacobs_Vanderwende.pdf">Dataset and paper</a></td>
<td>unclear</td>
<td>English</td>
<td>short-answers (US immigration test)</td>
<td></td>
<td style="text-align:right">10</td>
<td style="text-align:right">6980</td>
</tr>
<tr>
<td>SemEval SRA</td>
<td></td>
<td></td>
<td>English</td>
<td>Short-answers (sciences)</td>
<td></td>
<td style="text-align:right">182</td>
<td style="text-align:right">5239</td>
</tr>
<tr>
<td>AR-ASAG</td>
<td><a href="https://www.aclweb.org/anthology/2020.lrec-1.321.pdf">Paper</a></td>
<td></td>
<td>Arabic</td>
<td></td>
<td></td>
<td style="text-align:right"></td>
<td style="text-align:right"></td>
</tr>
<tr>
<td>PT-SAG</td>
<td></td>
<td></td>
<td>Portuguese</td>
<td></td>
<td></td>
<td style="text-align:right">15</td>
<td style="text-align:right">3675</td>
</tr>
<tr>
<td>CSSAG</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="text-align:right">31</td>
<td style="text-align:right">1840</td>
</tr>
<tr>
<td>CS (Mohler)</td>
<td></td>
<td>native</td>
<td>English</td>
<td>Short-answers (computer science)</td>
<td></td>
<td style="text-align:right">21</td>
<td style="text-align:right">630</td>
</tr>
<tr>
<td>CREG</td>
<td></td>
<td></td>
<td>Geman</td>
<td>Short-answers (Reading comprehension)</td>
<td></td>
<td style="text-align:right">177</td>
<td style="text-align:right">1032</td>
</tr>
<tr>
<td>CREE</td>
<td></td>
<td></td>
<td>English</td>
<td>Short-answers (Reading comprehension)</td>
<td></td>
<td style="text-align:right">62</td>
<td style="text-align:right">566</td>
</tr-->
</tbody>
</table>

      
<h3 id="contact">Contact</h3>   
  This page is maintained by the <a href="https://www.ltl.uni-due.de/">Language Technology Lab</a>; University Duisburg-Essen, Germany.<br> 
	    Did we miss your dataset? Is there an error in how we represented your data in the table? 
	    Please contact Andrea Horbach or Torsten Zesch under firstname.lastname@uni-due.de.
      
     
      <script>
function sortViaColumn(n) {
  var table, needswitch, rowcount, switching, i, one, two, dir, switchcount = 0;
  table = document.getElementById("toBeSorted");
  switching = true;
  dir = "up";
  while (switching) {
    switching = false;
    rowcount = table.rows;
    for (i = 1; i < (rowcount.length - 1); i++) {
      needswitch = false;
      one = rowcount[i].getElementsByTagName("TD")[n];
      two = rowcount[i + 1].getElementsByTagName("TD")[n];
      
      if (dir == "up") {
      	if (isNaN(one.innerHTML)) {
        	if (one.innerHTML.toLowerCase() > two.innerHTML.toLowerCase()) {
          	needswitch = true;
          	break;
        	}
        } else {
        	if (Number(one.innerHTML) > Number(two.innerHTML)) {
  					needswitch = true;
  					break;
					}
        }
        
      } else if (dir == "down") {
      	if (isNaN(one.innerHTML)) {
        	if (one.innerHTML.toLowerCase() < two.innerHTML.toLowerCase()) {
          	needswitch = true;
          	break;
        	}
        } else {
        	if (Number(one.innerHTML) < Number(two.innerHTML)) {
  					needswitch = true;
  					break;
					}
        }
      }
    }
    
    if (needswitch) {
      rowcount[i].parentNode.insertBefore(rowcount[i + 1], rowcount[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "up") {
        dir = "down";
        switching = true;
      }
    }
  }
}
</script>
      
      
      
      
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
